
TrainSurvive/Assets/saveRecord/1/dynamicMap.txt
TrainSurvive/Assets/saveRecord/1/dynamicMap.txt.meta
TrainSurvive/Assets/saveRecord/1/staticMap.txt
TrainSurvive/Assets/saveRecord/1/staticMap.txt.meta
TrainSurvive/Assets/saveRecord/1/world.dat
*.meta